<div class="row">
  <div class="small-12 columns" >
    <h1>ArrivalTime</h1>
    <hr>
    <h3 class="subheader">Melbourne Metro Train Timetable Info</h3>
  </div>
</div>
<form>
  <div class="row">
    <div class="small-8 columns">
      <label>Line
        <select id="line" name="line" ng-model='lineID' ng-change="getStopData()">
            <option value="{{line.id}}" ng-repeat="line in Lines">{{line.lineName}}</option>
        </select>
      </label>
      <label>Start Station
        <select id="startStop" name="startStop" ng-model='startID'>
          <option value="{{stop.stop_id}}" ng-repeat='stop in stops'>{{stop.location_name}}</option>
        </select>
      </label>
      <label>End Station
        <select id="endStop" name="endStop" ng-model='endID' ng-change="getTrainTimes()">
          <option value="{{stop.stop_id}}" ng-repeat='stop in stops'>{{stop.location_name}}</option>
        </select>
      </label>

    </div>
  </div>
</form>
<div class="row">
    <div class="small-12 columns repeated-item" ng-model="times" ng-repeat="time in times">
        <div class="row">
            <div class="small-6 columns">
                <div class="panel">
                  <h3>Departs</h3>
                  <p>{{time.departureTime}}</p>
                </div>
            </div>
            <div class="small-6 columns">
                <div class="panel">
                  <h3>Arrives</h3>
                  <p>{{time.arrivalTime}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
