  <div class="row">
      <div class="small-12 columns" >
        <h1>Train Times</h1>
      </div>
  </div>
<form>
  <div class="row">
    <div class="small-8 columns">
        <select id="line" name="line" ng-model='lineID' ng-change="getStopData()">
            <option value="{{line.id}}" ng-repeat="line in Lines">{{line.lineName}}</option>
        </select>
        <select id="stop" name="stop" ng-model='stops'>
          <option ng-repeat='stop in stops'>{{stop.location_name}}</option>
        </select>
    </div>
  </div>
</form>